    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        font-family: "Poppins", sans-serif;
    }

    html,body {
        height: 100%;
        width: 100%;
        color: #0B0600;
    }


    header{
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
    img {
        height: 4rem;
        margin: 10px;
    }

    .div1{
      
        display: flex;
        height: 100%;
        flex-direction:  column;
        word-wrap: normal;
        background: linear-gradient(
        to right,
        #FBC70C 60%,
        #FAE7B4 20%
    );
    }

    article {
        margin: 40px 0px 0px 50px;
        padding: 0px 20px;
    
     
    }

    h1 {
    font-weight: 800;
    font-size: 10rem;
    
    }

    h6 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    }
    h5{
        font-weight: 800;
        font-size: 30px;
    }
    p  {
        font-size: 2rem;
        line-height: 1.7;
        text-align: start;
        padding: 2px;
    }
    .pikachu {
        height: 40rem;
        width: 25rem;
        margin-top: 0rem;
        margin-left:-1rem;
            
    }

    .dots{
        display:flex;
        flex-direction:column;
        gap: 15px;
        margin: auto;
        margin-right:10px;
        
    }

    .dots span{
        width:12px;
        height:12px;

        background:gold;
        border-radius:50%;
    }

    .dots .active{
        background:black;
    }
    